<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>544450017823-v8q9t919ede011k5b9p4r0cud39s486v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544450017823-v8q9t919ede011k5b9p4r0cud39s486v</string>
	<key>API_KEY</key>
	<string>AIzaSyAz8lZWPEoRbRps_97s63k7AVnuMHDs3RA</string>
	<key>GCM_SENDER_ID</key>
	<string>544450017823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AS.GameOfChats</string>
	<key>PROJECT_ID</key>
	<string>got-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>got-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:544450017823:ios:b82d6776aceb7b6c</string>
	<key>DATABASE_URL</key>
	<string>https://got-chat.firebaseio.com</string>
</dict>
</plist>